src/main/resources/swedbank/hgw-response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:simpleType name="AmountType">
    <xs:restriction base="xs:decimal"/>
  </xs:simpleType>
  <xs:simpleType name="BicType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{6}[A-Z,0-9]{2,5}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="IBAN">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2}[0-9]{2}[A-Z,0-9]{0,31}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CurrencyType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{3}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ReferenceTypeLT">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="16"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="AccountInfoType">
    <xs:sequence>
      <xs:element name="IBAN" type="IBAN"/>
      <xs:element name="BIC" type="BicType"/>
      <xs:element name="BankName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AccountType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="BalanceRowType">
    <xs:sequence>
      <xs:element name="Deposit" type="AmountType"/>
      <xs:element name="Reserved" type="AmountType"/>
      <xs:element name="Credit" type="AmountType"/>
      <xs:element name="Available" type="AmountType"/>
    </xs:sequence>
    <xs:attribute name="id" type="CurrencyType" use="required"/>
  </xs:complexType>
  <xs:complexType name="BalanceCurrenciesType">
    <xs:sequence>
      <xs:element name="Currency" type="BalanceRowType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BalanceType">
    <xs:sequence>
      <xs:element name="Date" type="xs:date"/>
      <xs:element name="AccountInfo" type="AccountInfoType"/>
      <xs:element name="Currencies" type="BalanceCurrenciesType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="BankReference">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{16}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PartialType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="complete"/>
      <xs:enumeration value="partial"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PartyTypeLT">
    <xs:all>
      <xs:element name="Account" type="AccountType" minOccurs="0"/>
      <xs:element name="Id" type="xs:string" minOccurs="0"/>
      <xs:element name="Name" type="xs:string" minOccurs="0"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="StatementTransactionType">
    <xs:sequence>
      <xs:element name="TypeCode" type="xs:string"/>
      <xs:element name="TransactionDate" type="xs:date"/>
      <xs:element name="ReferenceDate" type="xs:date" minOccurs="0"/>
      <xs:element name="BankReference" type="BankReference"/>
      <xs:element name="DocumentNumber" type="xs:string" minOccurs="0"/>
      <xs:element name="ReferenceNumber" type="xs:string" minOccurs="0"/>
      <xs:element name="Description" type="xs:string"/>
      <xs:element name="Amount" type="AmountType"/>
      <xs:element name="ReferenceToPayer" type="ReferenceTypeLT" minOccurs="0"/>
      <xs:element name="Counterparty">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Name" type="xs:string"/>
            <xs:element name="LegalID" type="xs:string"/>
            <xs:element name="IBAN" type="xs:string"/>
            <xs:element name="BIC" type="xs:string" minOccurs="0"/>
            <xs:element name="ReferenceToBeneficiary" type="ReferenceTypeLT" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="OrderingParty" type="PartyTypeLT" minOccurs="0"/>
      <xs:element name="Assignee" type="PartyTypeLT" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StatementRowType">
    <xs:sequence>
      <xs:element name="OpeningBalance" type="AmountType" minOccurs="0"/>
      <xs:element name="ClosingBalance" type="AmountType" minOccurs="0"/>
      <xs:element name="Transactions">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Transaction" type="StatementTransactionType" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="CurrencyType" use="required"/>
  </xs:complexType>
  <xs:complexType name="StatementType">
    <xs:sequence>
      <xs:element name="AccountInfo" type="AccountInfoType"/>
      <xs:element name="Partial" type="PartialType"/>
      <xs:element name="Page" type="xs:decimal"/>
      <xs:element name="Period">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="StartDate" type="xs:date"/>
            <xs:element name="EndDate" type="xs:date"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Customer">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Name" type="xs:string"/>
            <xs:element name="LegalID" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Currency" type="StatementRowType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AlertType">
    <xs:sequence>
      <xs:element name="AccountInfo" type="AccountInfoType"/>
      <xs:element name="Customer">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Name" type="xs:string"/>
            <xs:element name="LegalID" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Currency" type="StatementRowType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ExchangeRateTypeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Cash"/>
      <xs:enumeration value="Transfer"/>
      <xs:enumeration value="Central"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ExchangeRateInfoType">
    <xs:sequence>
      <xs:element name="CurrencyInfo" type="CurrencyInfoRowType" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="BaseCurrency" type="CurrencyType" use="required"/>
  </xs:complexType>
  <xs:complexType name="CurrencyInfoRowType">
    <xs:sequence>
      <xs:element name="Currency" type="CurrencyType"/>
      <xs:element name="Buy" type="AmountType"/>
      <xs:element name="Sell" type="AmountType"/>
    </xs:sequence>
    <xs:attribute name="Date" type="xs:date" use="required"/>
  </xs:complexType>
  <xs:complexType name="ExchangeRateResponseType">
    <xs:sequence>
      <xs:element name="BIC" type="BicType"/>
      <xs:element name="ExchangeRateType" type="ExchangeRateTypeType"/>
      <xs:element name="ExchangeRateInfo" type="ExchangeRateInfoType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CurrencyExchange">
    <xs:sequence>
      <xs:element name="Currency" type="xs:string"/>
      <xs:element name="Amount" type="AmountType"/>
      <xs:element name="Rate" type="AmountType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HGWErrorType">
    <xs:sequence>
      <xs:element name="Code" type="xs:string"/>
      <xs:element name="Message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CurrencyExchangeResponseType">
    <xs:sequence>
      <xs:element name="BIC" type="BicType"/>
      <xs:element name="IBAN" type="IBAN"/>
      <xs:element name="BankReference" type="BankReference"/>
      <xs:element name="Buy" type="CurrencyExchange"/>
      <xs:element name="Sell" type="CurrencyExchange"/>
      <xs:element name="ExchangeRateType" type="ExchangeRateTypeType"/>
      <xs:element name="ExchangeRateInfo" type="ExchangeRateInfoType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PongType">
    <xs:sequence>
      <xs:element name="Value" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="from" type="xs:string" use="required"/>
  </xs:complexType>
  <xs:simpleType name="DeclarationId">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="256"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EmploymentRegistrationId">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="256"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EmploymentListId">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="256"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="anyContent">
    <xs:sequence>
      <xs:any maxOccurs="unbounded" processContents="skip"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="B4B">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Balance" type="BalanceType" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="Statement" type="StatementType" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="ExchangeRateResponse" type="ExchangeRateResponseType" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="CurrencyExchangeResponse" type="CurrencyExchangeResponseType" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="HGWError" type="HGWErrorType" minOccurs="0"/>
        <xs:element name="Pong" type="PongType" minOccurs="0"/>
        <xs:element name="Alert" type="AlertType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VATReturnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DeclarationId" type="DeclarationId"/>
        <xs:choice>
          <xs:element name="OperationAccepted" type="OperationAccepted"/>
          <xs:element name="OperationRejected" type="OperationRejected"/>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TaxDeclarationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DeclarationId" type="DeclarationId"/>
        <xs:choice>
                  </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmploymentRegistrationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="EmploymentRegistrationId" type="EmploymentRegistrationId"/>
        <xs:choice>
          <xs:any namespace="http://emta-v6.x-road.eu" processContents="skip"/>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmploymentListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="EmploymentListId" type="EmploymentListId"/>
        <xs:choice>
          <xs:any namespace="http://emta-v6.x-road.eu" processContents="skip"/>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="OperationAccepted">
    <xs:complexContent>
      <xs:extension base="anyContent"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OperationRejected">
    <xs:complexContent>
      <xs:extension base="anyContent"/>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>
